version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.9.4-browsers

    working_directory: ~/app

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: NODE_ENV=test yarn test:coverage
      - run: yarn codecov
      - store_artifacts:
          path: ~/app/coverage/lcov-apprt/
